extends layout/master.pug

block content
  img.icon--pin(src="images/icon--pin.svg", alt="")
  p Din nuværende lokation bliver kun brugt til at give dig bedre vejhjælp.
  a.btn#findLocation(href="#find-location") Del din lokation
  a.subtle(href="registration-number.html") Fortsæt uden at dele din lokation