extends layout/master.pug

block content
  .content-top
    h1 Registreringsnummer
  input(type="text", placeholder="Indtast dit Registreringsnummer")
  a.btn#sendRegistrationNumber(href="complete.html") Fortsæt