extends layout/master.pug

block content
  .content-top
    h1 Registreringsnummer
  input#registrationNumber(type="text", placeholder="Indtast dit Registreringsnummer")
  a.btn#sendRegistrationNumber(href="#sendToSlack") Fortsæt